<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>Автоматизированное тестирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-material-design.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/selectize.css"/>
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <a href="http://localhost:8080/additional" class="btn btn-outline-primary">
                    <div class="h5">Additional test</div>
                </a>
            </div>
            <div class="row">
                <a href="http://localhost:8080/address/" class="btn btn-outline-primary">
                    <div class="h5">Address test</div>
                </a>
            </div>
            <div class="row">
                <a href="http://localhost:8080/cer" class="btn btn-outline-primary">
                    <div class="h5">Cer test</div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <a href="http://localhost:8080/document" class="btn btn-outline-primary">
                    <div class="h5">Document test</div>
                </a>
            </div>
            <div class="row">
                <a href="http://localhost:8080/personal" class="btn btn-outline-primary">
                    <div class="h5">Personal test</div>
                </a>
            </div>
            <div class="row">
                <a href="http://localhost:8080/sign-up-bad" class="btn btn-outline-primary">
                    <div class="h5">Sign up bad test</div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <a href="http://localhost:8080/study" class="btn btn-outline-primary">
                    <div class="h5">Study test</div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
